<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiSafe"
        tools:targetApi="31">
        <activity
            android:name=".pelatihan.DaftarKegiatanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.KegiatanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.KomunitasActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.StartedActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.JobActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.VerifikasiActivity1"
            android:exported="false" />
        <activity
            android:name=".pelatihan.TemaPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.PilihanPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.PendaftaranBerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.PelatihanberhasilActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.KonfirmasiPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.DetailPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.DetailKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.DaftarPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".pelatihan.DaftarKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>